#msg{
	background-color: #63dd8d;
	text-align: center;
    vertical-align: middle;
    border-color: #000000;
    border-width: 2px;
    border-style:groove;
	margin: 5% 25% 25% 25%;
}
#msg2 div p {
    width: 80%;
	word-wrap: break-word;
	text-align:center;
	margin:0 10%;
    }

#msg2{
	background-color: #63dd8d;
	text-align: center;
    vertical-align: middle;
    border-color: #000000;
    border-width: 2px;
    border-style:groove;
	margin: 5% 25% 25% 25%;
}
body{
	background-color:#60b9ce;
}
#body_compose{
	background-color: #63dd8d;
	text-align: center;
    vertical-align: middle;
    border-color: #000000;
    border-width: 2px;
    border-style:groove;
}


.login{
	
	font-family: cursive;
	font-size: 20px;
	padding-top:15px;
}

h1{
	font-family:inherit;
	color:#0000b3;
}

.message{
	
	text-align:center;
	font-family:cursive;
	vertical-align: middle;
	font-size: 20px;
}

#users{
	width: 20%;
	float: left;
	text-align: left;
	position: fixed;
	margin-top: 25px;
	margin-left: 5px;
	background-color: #FF8957;
	border-color: #000000;
    border-width: 2px;
    border-style:groove;
	min-height: 200px;
}

#messages{
	font-family:inherit;
	color:#0000b3;
	font-size: 20px;
}

#create_user_btn{
border: 5px solid white;
border-radius: 50%;	
background-color:greenyellow;
width: inherit;	
margin: 3 auto;
color:#ffffff;
font-weight: bold;
padding:5px;
text-align: center;
}

#create_user_btn: visited{
	background-color: chartreuse;
}

#logout{
border-radius: 15px/50px;
border: 3px solid #000000;
width: inherit;	
position:absolute;
background-color:#FF8957;
top:20;
right:100;
font-size: 20px;
padding:3px;
font-weight: bold;
}

thead{
	font-weight: bold;
}
#messagest tbody tr:hover{
	background-color: #4477ee;	
}
.notread{
 font-weight: bold;
}
#messagest{
 width: 100%;
 text-align: center;
 margin-bottom:100px;
}

#messagest thead tr td{
 width: 25%;
 text-align: center;
}

#users table{
 width: 100%;
 text-align: center;
}


.notread{
 font-weight: bold;
}

.bodylist p {
    text-overflow: ellipsis; 
    width: 10em; 
    white-space: nowrap; 
    overflow:hidden; 
    }
 